h3 {
  color: black;
}

header {
  background-color: #dbc0aa;
}

h1 {
  font-size: 34px;
  font-family: "Press Start 2P", cursive;
  margin-top: 24px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}

.buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  padding: 8px;
  font-size: 15px;
  border: papayawhip;
  border-bottom: 4px solid #dbc0aa;
  margin-right: 0px;
  border-style: groove;
}

button {
  padding: 9px 18px;
  background-color: #38220f;
  color: #dbc0aa;
  border: none;
  cursor: pointer;
}

.perfil {
  margin-top: 0px;
  margin-right: 7px;
}

.compra {
  margin-right: 100px;
  margin-left: 30px;
}

.span-header {
  font-family: "Kdam Thmor Pro", sans-serif;
}

.navbar {
  background-color: #38220f;
  z-index: 2;
}

button.navbar-toggler {
  background-color: #dbc0aa;
  margin-left: 78%;
  margin-top: -10%;
}

.navbar-brand.active {
  color: #fff8dc;
  font-family: "Alegreya SC", serif;
  --bs-navbar-brand-hover-color: #fff8dc;
}

.navbar-brand {
  color: #ac8c62;
  font-family: "Alegreya SC", serif;
  --bs-navbar-brand-hover-color: #fff8dc;
}

.nav-link {
  color: #ac8c62;
  font-family: "Kdam Thmor Pro", sans-serif;
  --bs-nav-link-hover-color: #fff8dc;
}

.navbar-nav .nav-link.active {
  color: #fff8dc;
  font-family: "Kdam Thmor Pro", sans-serif;
  --bs-nav-link-hover-color: #fff8dc;
}

#main-index {
  background-image: url(../Img/64641d2c-3a7c-4681-919c-9ee48237970f.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 725px;
}

.content-wrapper {
  position: relative;
}

.h2-encabezado {
  position: absolute;
  font-size: 60px;
  top: -285px;
  margin-right: 0;
  left: -75%;
  font-family: "Alegreya SC", serif;
  font-weight: bold;
}

@media (max-width: 1024px) and (max-height: 900px) {
  .h2-encabezado {
    position: absolute;
    font-size: 43px;
    top: -170px;
    left: -60%;
  }
}
@media (max-width: 768px) {
  .h2-encabezado {
    width: 100%;
    font-size: 45px;
    position: absolute;
    left: 0%;
    top: -315px;
  }
}
.h2-segura {
  position: absolute;
  left: -75%;
  top: -200px;
  font-size: 40px;
  font-family: "Alegreya SC", serif;
  font-weight: bold;
}

@media (max-width: 1024px) and (max-height: 900px) {
  .h2-segura {
    position: absolute;
    font-size: 30px;
    top: -115px;
    left: -60%;
  }
}
@media (max-width: 768px) {
  .h2-segura {
    width: 100%;
    margin-left: 57%;
    margin-top: 40%;
  }
}
#psplus {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.card {
  width: 18rem;
}

.card-row .col-md-2 {
  margin-right: 8%;
  margin-top: 2%;
}

#ps5 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#ps4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#tienda {
  font-size: 24px;
  margin-top: 4%;
  margin-left: 8%;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.breadcrumb-item a {
  color: rgba(0, 0, 0, 0.2509803922);
  font-size: 23px;
}

.breadcrumb-item.active {
  color: black;
  font-weight: bold;
  font-size: 23px;
}

.sidebar {
  width: 20%;
  padding: 1%;
  margin-left: 3%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 20%;
    padding: 0%;
    margin-left: -10%;
  }
}
ul {
  list-style-type: none;
  margin: 0%;
  padding: 12%;
}

li {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0%;
}

a#juegosDropdown {
  --bs-nav-link-hover-color: #000;
  text-decoration: none;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

li {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0%;
}

a#tarjetasDropdown {
  --bs-nav-link-hover-color: #000000;
  text-decoration: none;
  margin-top: 11%;
}

.cards-tienda {
  position: absolute;
  top: 30%;
  left: 26%;
  width: 65%;
}

@media (max-width: 1024px) and (max-height: 900px) {
  .card-container {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .cards-tienda {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: -57%;
    z-index: 1;
  }
}
.card {
  width: 11rem;
}

.cards-tienda2 {
  position: absolute;
  top: 77%;
  left: 25%;
  width: 67%;
}

@media (max-width: 768px) {
  .cards-tienda2 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
}
.cards-tienda3 {
  position: absolute;
  top: 122%;
  left: 24%;
  width: 69%;
}

@media (max-width: 768px) {
  .cards-tienda3 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
}
.cards-tienda4 {
  position: absolute;
  top: 167%;
  left: 24%;
  width: 69%;
}

.cards-tienda5 {
  position: absolute;
  top: 212%;
  left: 24%;
  width: 69%;
}

#pagination {
  position: absolute;
  top: 250%;
  left: 50%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  #pagination {
    top: 290%;
  }
}
@media (max-width: 768px) {
  #pagination {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
}
.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #67220f;
  --bs-pagination-bg: #efe3d9;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #67220f;
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: #010101;
  --bs-pagination-hover-bg:#d2a26df5;
  --bs-pagination-hover-border-color: #67220f;
  --bs-pagination-focus-color: #efe3d9;
  --bs-pagination-focus-bg: #67220f;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(221 201 197 / 98%);
  --bs-pagination-active-color: #bf1515;
  --bs-pagination-active-bg: #fd440d;
  --bs-pagination-active-border-color: #bf4c08;
  --bs-pagination-disabled-color: #67220f;
  --bs-pagination-disabled-bg: #67220f4d;
  --bs-pagination-disabled-border-color: #67220f;
  display: flex;
  padding-left: 0;
  list-style: none;
}

#footer-tienda {
  position: absolute;
  top: 265%;
  width: 100%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  #footer-tienda {
    top: 310%;
  }
}
@media (max-width: 768px) {
  #footer-tienda {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
}
#ps4-pag {
  font-size: 24px;
  margin-top: 4%;
  margin-left: 8%;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.dropdown-item.active, .dropdown-item:active {
  color: #dbc0aa;
  text-decoration: none;
  background-color: #38220f;
}

#pagination-ps4 {
  position: absolute;
  top: 267%;
  left: 50%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  #pagination-ps4 {
    top: 351%;
  }
}
@media (max-width: 768px) {
  #pagination-ps4 {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}
#pagination-ps4 .pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #67220f;
  --bs-pagination-bg: #efe3d9;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #67220f;
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: #010101;
  --bs-pagination-hover-bg:#d2a26df5;
  --bs-pagination-hover-border-color: #67220f;
  --bs-pagination-focus-color: #efe3d9;
  --bs-pagination-focus-bg: #67220f;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(221 201 197 / 98%);
  --bs-pagination-active-color: #bf1515;
  --bs-pagination-active-bg: #fd440d;
  --bs-pagination-active-border-color: #bf4c08;
  --bs-pagination-disabled-color: #67220f;
  --bs-pagination-disabled-bg: #67220f4d;
  --bs-pagination-disabled-border-color: #67220f;
  display: flex;
  padding-left: 0;
  list-style: none;
}

#footer-ps4 {
  position: absolute;
  top: 280%;
  width: 100%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  #footer-ps4 {
    top: 370%;
  }
}
@media (max-width: 768px) {
  #footer-ps4 {
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cards-plus1 {
  position: absolute;
  top: 30%;
  left: 26%;
  width: 70%;
}

@media (max-width: 768px) {
  .cards-plus1 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -33%;
  }
}
.cards-plus2 {
  position: absolute;
  top: 77%;
  left: 25%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-plus2 {
    top: 95%;
  }
}
@media (max-width: 768px) {
  .cards-plus2 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.cards-plus3 {
  position: absolute;
  top: 122%;
  left: 24%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-plus3 {
    top: 155%;
  }
}
@media (max-width: 768px) {
  .cards-plus3 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
#pagination-plus {
  position: absolute;
  top: 170%;
  left: 50%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  #pagination-plus {
    top: 230%;
  }
}
@media (max-width: 768px) {
  #pagination-plus {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
#footer-plus {
  position: absolute;
  top: 185%;
  width: 100%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  #footer-plus {
    top: 250%;
  }
}
@media (max-width: 768px) {
  #footer-plus {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
#main-contacto .fondo-morde {
  width: 100%;
  max-height: 512px;
}

@media (max-width: 768px) {
  .fondo-morde {
    width: 100%;
  }
}
.imagen-morde {
  position: absolute;
  top: 10%;
  left: 54%;
  width: 30%;
}

div h2 {
  font-size: 60px;
  font-family: "Alegreya SC", serif;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 12%;
}

@media (max-width: 1024px) and (max-height: 900px) {
  #main-contacto h2 {
    position: relative;
    font-size: 45px;
    top: -215px;
    left: 0px;
  }
}
@media (max-width: 768px) {
  #main-contacto h2 {
    position: relative;
    font-size: 30px;
    top: -190px;
    left: 0px;
  }
}
#main-contacto p {
  font-size: 27px;
  font-family: "Alegreya SC", serif;
  font-weight: bold;
  position: absolute;
  top: 44%;
  left: 12%;
}

@media (max-width: 1024px) and (max-height: 900px) {
  #main-contacto p {
    position: relative;
    font-size: 17px;
    top: -213px;
    left: -1px;
  }
}
@media (max-width: 768px) {
  #main-contacto p {
    position: relative;
    font-size: 23px;
    top: -147px;
    left: -1px;
  }
}
.canales-contacto.text-center {
  margin-top: 10%;
}

.btn-primary {
  --bs-btn-bg: #505458;
  --bs-btn-border-color: #6c757d;
}

#footer-contacto {
  position: absolute;
  top: 120%;
  width: 100%;
}

@media (max-width: 1024px) and (max-height: 900px) {
  #footer-contacto {
    top: 160%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  #footer-contacto {
    position: absolute;
    top: 155%;
    width: 100%;
  }
}
.cards-ps4 {
  position: absolute;
  top: 30%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 900px) {
  .row.card-row {
    margin-top: 23px;
  }
}
@media (max-width: 1024px) and (max-height: 600px) {
  .row.card-row {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .cards-ps4 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -33%;
    z-index: 1;
  }
}
.card {
  width: 11rem;
}

@media (max-width: 1024px) and (max-height: 900px) {
  .card {
    width: 11rem;
  }
}
.cards-ps42 {
  position: absolute;
  top: 77%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-ps42 {
    top: 90%;
  }
}
@media (max-width: 768px) {
  .cards-ps42 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.cards-ps43 {
  position: absolute;
  top: 122%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-ps43 {
    top: 153%;
  }
}
@media (max-width: 768px) {
  .cards-ps43 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.cards-ps44 {
  position: absolute;
  top: 167%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-ps44 {
    top: 213%;
  }
}
.cards-ps45 {
  position: absolute;
  top: 212%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-ps45 {
    top: 272%;
  }
}
.cards-ps5 {
  position: absolute;
  top: 30%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .card-container {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .cards-ps5 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -33%;
    z-index: 1;
  }
}
.card {
  width: 11rem;
}

.cards-ps52 {
  position: absolute;
  top: 77%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-ps52 {
    top: 90%;
  }
}
@media (max-width: 768px) {
  .cards-ps52 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.cards-ps53 {
  position: absolute;
  top: 122%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-ps53 {
    top: 153%;
  }
}
@media (max-width: 768px) {
  .cards-ps53 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.cards-ps54 {
  position: absolute;
  top: 167%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-ps54 {
    top: 213%;
  }
}
.cards-ps55 {
  position: absolute;
  top: 212%;
  left: 26%;
  width: 70%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  .cards-ps55 {
    top: 272%;
  }
}
#pagination-ps5 {
  position: absolute;
  top: 267%;
  left: 50%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  #pagination-ps5 {
    top: 351%;
  }
}
@media (max-width: 768px) {
  #pagination-ps5 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
#pagination-ps5 .pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #67220f;
  --bs-pagination-bg: #efe3d9;
  --bs-pagination-border-width: 1px;
  --bs-pagination-border-color: #67220f;
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: #010101;
  --bs-pagination-hover-bg:#d2a26df5;
  --bs-pagination-hover-border-color: #67220f;
  --bs-pagination-focus-color: #efe3d9;
  --bs-pagination-focus-bg: #67220f;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(221 201 197 / 98%);
  --bs-pagination-active-color: #bf1515;
  --bs-pagination-active-bg: #fd440d;
  --bs-pagination-active-border-color: #bf4c08;
  --bs-pagination-disabled-color: #67220f;
  --bs-pagination-disabled-bg: #67220f4d;
  --bs-pagination-disabled-border-color: #67220f;
  display: flex;
  padding-left: 0;
  list-style: none;
}

#footer-ps5 {
  position: absolute;
  top: 280%;
  width: 100%;
}

@media (max-width: 1024px) and (max-height: 600px) {
  #footer-ps5 {
    top: 370%;
  }
}
@media (max-width: 768px) {
  #footer-ps5 {
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
