@import './base/vars';
@import './base/maps';
@import './base/extend';
@import './base/maps';

@import './componentes/header';
@import './componentes/main';
@import './componentes/cards-index';
@import './componentes/main-tienda';
@import './componentes/cards-tienda';
@import './componentes/pagination';
@import './componentes/footer-tienda';
@import './componentes/ps4';
@import './componentes/plus';
@import './componentes/contacto';