.cards-tienda{
    position: absolute;
    top: 30%;
    left: 26%;
    width: 65%;
}
@media (max-width: 1024px) and (max-height: 900px) {
    .card-container {
      margin-top: 100px;
    }
  }
  
@media (max-width: 768px) {
    .cards-tienda {
        position: absolute;
        top: 17%;
        left: 32%;
        width: 65%;
        z-index: 1;
  }
  }
    .card{
       width: 11rem;
    }    
.cards-tienda2{
    position: absolute;
    top: 77%;
    left: 25%;
    width: 67%;  
    }
    @media (max-width: 768px) {
        .cards-tienda2 {
            position: absolute;
            top: 295%;
            left: 31%;
            width: 65%;
      }
      }
.cards-tienda3{
    position: absolute;
    top: 122%;
    left: 24%;
    width: 69%;
    }
    @media (max-width: 768px) {
        .cards-tienda3 {
            position: absolute;
            top: 555%;
            left: 31%;
            width: 65%;
      }
      }
.cards-tienda4{
    position: absolute;
    top: 167%;
    left: 24%;
    width: 69%;
    }
.cards-tienda5{
    position: absolute;
    top: 212%;
    left: 24%;
    width: 69%;
    }
