.cart-card {
    background-color: #dbc0aa57;
    border: 1px solid #38220f;
    margin-bottom: 10px;
    padding: 10px;
  }

  .cart-card p{
    font-size: 140%;
  }

  .cart-card img{
    width: 20%;
}
  .cart-card button{
    padding: 9px 18px;
    background-color: #38220f;
    color: #dbc0aa;
    border: none;
    cursor: pointer;
  }

  