#psplus{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  text-decoration: none;
}
    h3{
        color: #000000a1; 
    }
    a{
        text-decoration: none;
    }
    .card{
        width: 18rem;
    }
    .card-row .col-md-2 {
        margin-right: 8%;
        margin-top: 2%;
    }
#ps5{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
    h3{
        color: #000000a1;
    }
#ps4{
    border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
    h3{
        color: #000000a1;
    }