#main-contacto
      .fondo-morde{
        width: 100%;
        max-height: 512px;
      }
      @media(max-width: 768px){
        .fondo-morde{
          width: 100%;
        }
    }
      .imagen-morde{
        position: absolute;
        top: 10%;
        left: 54%;
        width: 30%;
      }
    div
       h2{
        font-size: 60px;
        font-family: 'Alegreya SC', serif;
        font-weight: bold;
        position: absolute;
        top: 30%;
        left: 12%;
       }
       @media (max-width: 1024px) and (max-height: 900px) {
        #main-contacto h2 {
          position: relative;
          font-size: 45px;
          top: -215px;
          left: 0px;
        }
      }
       @media (max-width: 768px) {
        #main-contacto h2 {
          position: relative;
          font-size: 30px;
          top: -190px;
          left: 0px;
      }
      }
       #main-contacto p{
        font-size: 27px;
        font-family: 'Alegreya SC', serif;
        font-weight: bold;
        position: absolute;
        top: 44%;
        left: 12%;
       }
       @media (max-width: 1024px) and (max-height: 900px) {
        #main-contacto p {
          position: relative;
          font-size: 17px;
          top: -213px;
          left: -1px;
        }
      }
       @media (max-width: 768px) {
        #main-contacto p {
          position: relative;
          font-size: 23px;
          top: -147px;
          left: -1px;
        }
      }
        .canales-contacto.text-center{
        margin-top: 10%;
        }
        .btn-primary{
        --bs-btn-bg: #505458;
    --bs-btn-border-color: #6c757d;}
       
#footer-contacto{
    position: absolute;
    top: 120%;
    width: 100%;
    }
    @media (max-width: 1024px) and (max-height: 900px) {
      #footer-contacto{
        top: 160%;
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      #footer-contacto {
        position: absolute;
        top: 155%;
        width: 100%;
      }
      }
