#footer-tienda{
    position: absolute;
    top: 265%;
    width: 100%;
  }
  @media (max-width: 1024px) and (max-height: 600px) {
    #footer-tienda {
      top: 310%;
    }
  }
  @media (max-width: 768px) {
    #footer-tienda {
      position: static;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 0fr)); 
      gap: 20px;
      justify-content: center; 
      align-items: flex-start; 
      width: 100%;
  }
  }