.cards-plus1{
  position: absolute;
    top: 30%;
    left: 26%;
    width: 70%;
}
@media (max-width: 768px) {
  .cards-plus1 {
      position: absolute;
      top: 33%;
      left: 31%;
      width: 65%;
}
}
.cards-plus2{
  position: absolute;
  top: 77%;
  left: 25%;
  width: 70%;  
  }
  @media (max-width: 1024px) and (max-height: 600px) {
    .cards-plus2 {
      top: 95%;
    }
  }
  @media (max-width: 768px) {
      .cards-plus2 {
          position: absolute;
          top: 234%;
          left: 31%;
          width: 65%;
    }
    }
.cards-plus3{
  position: absolute;
  top: 122%;
  left: 24%;
  width: 70%;
  }
  @media (max-width: 1024px) and (max-height: 600px) {
    .cards-plus3 {
      top: 155%;
    }
  }
  @media (max-width: 768px) {
      .cards-plus3 {
          position: absolute;
          top: 412%;
          left: 31%;
          width: 65%;
    }
    }


#pagination-plus{
    position: absolute;
    top: 170%;
    left: 50%;
}
@media (max-width: 1024px) and (max-height: 600px) {
  #pagination-plus {
    top: 230%;
  }
}
  @media (max-width: 768px) {
  #pagination-plus{
    position: absolute;
    top: 582%;
    left: 20%;
}
}
  #footer-plus{
    position: absolute;
    top: 185%;
    width: 100%;
}
@media (max-width: 1024px) and (max-height: 600px) {
  #footer-plus {
    top: 250%;
  }
}
  @media (max-width: 768px) {
  #footer-plus {
    position: absolute;
    top: 600%;
    width: 100%;
}
}